.login-form-container {
    border: 1px solid black;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

.input-error {
    border: 1px solid red;
}

.form-input {
    margin: 2px;
}